h1{
    color: blue;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sad{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Corey{
    height: 200px;
}